.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.container h1 {
  font-size: 1rem;
  color: #666;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.container p {
  font-size: 0.7rem;
  color: #666;
  font-weight: lighter;
}

.backButton {
  width: 90vw;
  text-align: left;
  display: inline-block;
  margin-bottom: 1rem;
  color: #666;
  text-decoration: none;
  font-size: 1rem;
  font-weight: lighter;
}

.columns {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.column {
  flex: 1;
  padding: 1rem;
}

.column h2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: #222;
  font-weight: lighter;
  text-decoration: underline;
}

.column p {
  font-size: 0.7rem;
  color: #444;
}

.timeSelect {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.timeBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 2fr));
  gap: 0.5rem 1rem;
  margin-top: 1rem;
}

.timeBox {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #000;
  font-size: 0.7rem;
  background-color: #fff;
  cursor: pointer;
  color: #666;
  transition: background-color 0.3s ease;
}

.timeBox:hover {
  background-color: #EEF6F6;
}

.react-calendar {
  font-family: Poppins, sans-serif;
  width: 100%;
  border: none;
}

.react-calendar__tile--now {
  background-color: #EEF6F6 !important;
  color: #333 !important;
  border-radius: 4px;
}

.react-calendar__tile--now:not(.react-calendar__month-view__days__day--neighboringMonth) {
  background-color: #EEF6F6 !important;
  color: #333 !important;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #59A8AB;
}

.react-calendar__tile--active {
  background-color: #59A8AB !important;
  color: white !important;
  border-radius: 4px;
}

.react-calendar__tile--active:hover {
  background-color: #59A8AB !important;
  color: white !important;
}

.react-calendar__tile--active:not(.react-calendar__month-view__days__day--neighboringMonth) {
  background-color: #59A8AB !important;
  color: white !important;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #333;
}

.react-calendar__tile {
  background-color: #fff !important;
  color: #666 !important;
  border-radius: 4px;
}

.react-calendar__tile:not(.react-calendar__month-view__days__day--neighboringMonth) {
  background-color: #fff !important;
  color: #666 !important;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0 !important;
  color: #666 !important;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background-color: #59A8AB !important;
  color: white !important;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #EEF6F6;
}

.nextButton {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #59A8AB;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: #7B7B7B;
  text-decoration: underline;
}

.bookNowButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  background-color: #59A8AB;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookNowButton:hover {
  background-color: #4a8c8e;
}

.column form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  background-color: fff;
}

.column form h3, .column h3{
  font-size: 0.7rem;
  color: #222;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.column p {
  text-align: left;
}

.column form label {
  font-size: 0.9rem;
  color: #444;
}

.column form input, .column form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #444;
  background-color: #fff;
  border: 1px solid #666;
}

.column form textarea {
  resize: none;
}

.lineBreak {
  margin: 1rem 0;
  border-top: 1px solid #ddd;
}

.sectionBreak {
  width: 95%;
  height: 0.5px;
  background-color: #222; 
  margin: 1rem 0;
}

.errorMessage {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.errorIcon {
  margin-right: 0.5rem;
}