.navbar {
  background: #ffffff;
  color: #686868;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem 2rem;
  border-bottom: 1px solid #eaeaea;
  font-family: "Garamond", serif;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensures it stays above other elements */
  width: 100%; /* Ensures it spans the full width of the viewport */
}

.logo {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
  width: 30%;
}

.links {
  display: none;
  flex-direction: row; 
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.links.showMenu {
  display: flex;
}

.links a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #686868; /* Inactive link color */
  font-weight: 500;
  font-size: 0.7rem;
}

.links a:active {
  color: #222222; /* Active link color */
}

.auth {
  display: flex;
  width: 20%;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.auth svg {
  color: #fff; /* Icon color */
  background-color: #222; /* Circular background */
  border-radius: 50%; /* Make the background circular */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem; /* Adjust padding as needed */
  width: 1.2rem; /* Adjust size as needed */
  height: 1.2rem; /* Adjust size as needed */
}

.auth .menuToggle {
  background-color: #fff;
  color: #222;
  border: none;
  margin-right: 1rem;
}

.navButton {
  color: #686868; /* Default link color */
  text-decoration: none;
  font-weight: 500;
}

.navButton.active {
  color: #222222; 
}

@media (min-width: 701px) {
  .links {
    display: flex; /* Keep navigation links visible on larger screens */
  }

  .menuToggle {
    display: none;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 50%;
  }

  .links {
    display: none; /* Hide navigation links */
    flex-direction: column; /* Set flex direction to column for smaller screens */
    gap: 1rem;
    width: 100%;
  }

  .auth {
    justify-content: center; /* Center the login icon */
    gap: 0; /* Remove gap to only show the icon */
  }

  .auth svg {
    display: block; /* Ensure the login icon is visible */
  }

  .auth a {
    display: none; /* Hide the login text */
  }
}
