.page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #020202;
  text-align: center;
}

.main {
  max-width: 800px;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Garamond", serif;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.2rem;
  color: #444;
}

.headerContainer {
  position: relative;
  width: 100vw;
  margin-bottom: 40px;
}

.headerImage {
  width: 100vw;
  max-height: 400px;
  height: auto;
  display: block;
}

.headerText {
  position: absolute;
  font-family: "Garamond", serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 2rem;
  border: 2px solid white;
  text-align: center;
  width: max-content;
  letter-spacing: 0.3rem;;
}

.name {
  font-size: 1.7rem;
  margin: 0;
  font-weight: lighter;
}

.title {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}