.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageWrapper {
  position: relative;
  width: 100vw;
}

.galleryImage {
  width: 100vw;
  height: auto;
  display: block;
  filter: brightness(0.7);
  margin: auto;
}

.galleryImage:hover {
  filter: brightness(0.5); /* Darkens the image further on hover */
}

.imageTitle {
  font-family: "Garamond", serif;
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
